@import '/css/normalize.css';
@import '/css/suitcss-utils-display.css';
@import '/css/suitcss-utils-text';

@import '/css/base/variables';
@import '/css/base/custom-media';
@import '/css/base/elements';

@import '/css/components/aligner';
@import '/css/components/browser';
@import '/css/components/button';
@import '/css/components/container';
@import '/css/components/demo';
@import '/css/components/error';
@import '/css/components/feature';
@import '/css/components/footer';
@import '/css/components/grid';
@import '/css/components/header';
@import '/css/components/holy-grail';
@import '/css/components/image';
@import '/css/components/input-add-on';
@import '/css/components/media';
@import '/css/components/notice';
@import '/css/components/section';
@import '/css/components/site';

@import '/css/utils/compat.css';
@import '/css/utils/media';
@import '/css/utils/size';
@import '/css/utils/spacing';

@import '/css/vendor/font-awesome-extensions';
@import '/css/vendor/highlight';

body {
    font-family: 'didotregularx';
    opacity: 0.76;
}

.loginout {
    color: black;
    text-decoration: none;
    font-size: 30px;
    opacity: 0.7;
}