@import '/css/normalize.css';
@import '/css/suitcss-utils-display.css';
@import '/css/suitcss-utils-text.css';

@import '/css/base/variables.css';
@import '/css/base/custom-media.css';
@import '/css/base/elements.css';

@import '/css/components/aligner.css';
@import '/css/components/browser.css';
@import '/css/components/button.css';
@import '/css/components/container.css';
@import '/css/components/demo.css';
@import '/css/components/error.css';
@import '/css/components/feature.css';
@import '/css/components/footer.css';
@import '/css/components/grid.css';
@import '/css/components/header.css';
@import '/css/components/holy-grail.css';
@import '/css/components/image.css';
@import '/css/components/input-add-on.css';
@import '/css/components/media.css';
@import '/css/components/notice.css';
@import '/css/components/section.css';
@import '/css/components/site.css';

@import '/css/utils/compat.css.css';
@import '/css/utils/media.css';
@import '/css/utils/size.css';
@import '/css/utils/spacing.css';

@import '/css/vendor/font-awesome-extensions.css';
@import '/css/vendor/highlight.css';

body {
    font-family: 'didotregularx';
    opacity: 0.76;
}

.loginout {
    color: black;
    text-decoration: none;
    font-size: 30px;
    opacity: 0.7;
}