.topnav2 {

}

.main-nav2 {
  /*box-sizing: border-box;*/
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;

  -webkit-justify-content: center;
  justify-content: center;
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
  }
  a {
    padding: 1rem 0.5rem;
    max-width: 140px;
    text-decoration: none;
    display: flex;
    /*align-items: flex-start;*/
    color: black;
    opacity: 90;
    border-bottom: 1px solid silver;
    font-size: 1em;
    margin: 0.3em 0.3em 0.3em 0.3em;
    &:hover, &:focus {
      color: black;
      opacity: 98;
      span {
        color: black;
      }
    }
  }
  span {
    display: block;
    font-size: 1rem;
    font-weight: normal;
    margin: 0 0 0 0;
  }
  .icon {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 1rem;
  }
  &.outlines {
    * {
      outline: 1px solid silver;
    }
  }
}
/*
@media (min-width: 1000px) {
  .main-nav2 {
    a {
      max-width: 400px;
      font-size: 1.2rem;
    }
    .icon {
      width: 25px;
      height: 25px;
    }
  }
}
*/